.mainPage {
    padding: 10px 0 150px 0;

    .mainBanner {
        margin-bottom: 91px;
    }

    .newCollectionBanner {
        margin-bottom: 166px;
    }

    .categoriesList {
        margin-bottom: 157px;
    }
}
