.questionBanner {
    .questionBannerContainer {
        background-image: url('@/shared/assets/images/banners/question_banner_bg.png');
        padding: 140px 108px 125px;
        border-radius: 20px;
        height: 487px;

        .title {
            font-weight: 500;
            font-size: 54px;
            line-height: 38px;
            margin-bottom: 30px;
            color: var(--color-white);
        }

        .description {
            font-size: 18px;
            line-height: 21.83px;
            margin-bottom: 47px;
            color: var(--color-white);
        }
    }
}
